<div class="feature__baby">
    <div class="feature__baby__img">
      <picture>
        <source 
        srcset="/assets/image/mobile/babym.png" 
        type="image/png"
        media="(max-width: 768px)"
        class="feature__baby__img__into" />
        <source 
        srcset="/assets/image/mobile/baby.webp" 
        type="image/webp"
        media="(max-width: 768px) "
        class="feature__baby__img__into" />
        <source 
        srcset="/assets/image/baby.png" 
        type="image/png"
        media="(min-width: 768px) "
        class="feature__baby__img__into" />
        <source 
        srcset="/assets/image/baby.webp" 
        type="image/webp"
        media="(min-width: 768px) "
        class="feature__baby__img__into" />
        <img src="/assets/image/baby.png" alt="banavaz__baby" class="feature__baby__img__into" />
      </picture>
    </div>
    <div class="feature__baby__details">
      <h4 class="feature__baby__detail__title">
        دارای تنظیمات مخصوص کودکان!
      </h4>
      <p class="feature__baby__detail__description">
        نگران تغییر تنظیمات بانواز توسط فرزند عزیزت نباش!
      </p>
      <button class="btn btn--secondary__color">فروشگاه بانواز</button> 
    </div>
  </div>