<div class="feature__home">
  <div class="feature__home__img">
    <div class="feature__home__img__hero">
      <picture>
        <source
          srcset="/assets/image/mobile/home-mobile.png"
          type="image/png"
          media="(max-width: 768px)"
          class="feature__home__img__into"
        />
        <source
          srcset="/assets/image/mobile/home-mobile.webp"
          type="image/webp"
          media="(max-width: 768px) "
          class="feature__home__img__into"
        />
        <source
          srcset="/assets/image/home.png"
          type="image/png"
          media="(min-width: 1024px) "
          class="feature__home__img__into"
        />
        <source
          srcset="/assets/image/home.webp"
          type="image/webp"
          media="(min-width: 1024px) "
          class="feature__home__img__into"
        />
        <img
          src="/assets/image/home.png"
          alt="banavaz__baby"
          class="feature__home__img__into"
        />
      </picture>
      <div class="feature__home__img__mainpart">
        <picture>
          <source
            srcset="/assets/image/mobile/iPhone .png"
            type="image/png"
            media="(max-width:768px)"
            class="feature__home__img__part"
          />
          <source
            srcset="/assets/image/mobile/iPhone .webp"
            type="image/webp"
            media="(max-width:768px) "
            class="feature__home__img__part"
          />
          <source
            srcset="/assets/image/iphone.png"
            type="image/png"
            media="(min-width:1024px) "
            class="feature__home__img__part"
          />
          <source
            srcset="/assets/image/iphone.webp"
            type="image/webp"
            media="(min-width:1024px) "
            class="feature__home__img__part"
          />
          <img
            src="/assets/image/mobile/iPhone .png"
            alt="banavaz-home"
            class="feature__home__img__part"
          />
        </picture>
      </div>
    </div>
  </div>
  <div class="feature__home__details">
    <h2 class="feature__home__details__title">خیالت از خونه راحت!</h2>
    <div class="feature__home__details__text">
      <p class="feature__home__details__description">
        بانواز واژه ای کردی به معنای با خبر ساختن با صدای بلند است. درست مثل
        بانواز!
      </p>
      <p class="feature__home__details__description">
        با سنسورهای بانواز از هیچ اتفاقی بی خبر نیستی.
      </p>
      <p class="feature__home__details__description">چه خونه باشی چه نه.</p>
    </div>
    <div class="feature__home__details__button">
      <button class="btn btn--secondary__white">فروشگاه بانواز</button>
    </div>
  </div>
  
    
   


  </div>
