<div class="feature__mobile">
    <div class="feature__mobile__img">
      <picture>
        <source
          srcset="/assets/image/mobile/mobile.png"
          type="image/png"
          media="(max-width: 768px)"
          class="feature__mobile__img__into"
        />
        <source
          srcset="/assets/image/mobile/mobile.png"
          type="image/webp"
          media="(max-width: 768px) "
          class="feature__mobile__img__into"
        />
        <source
          srcset="/assets/image/mobile.png"
          type="image/png"
          media="(min-width: 768px) "
          class="feature__mobile__img__into"
        />
        <source
          srcset="/assets/image/mobile.png"
          type="image/webp"
          media="(min-width: 768px) "
          class="feature__mobile__img__into"
        />
        <img
          src="/assets/image/mobile.png"
          alt="banavaz__baby"
          class="feature__mobile__img__into"
        />
      </picture>
    </div>

    <div class="feature__mobile__description">
      <div class="feature__mobile__title">
        <h2>مدیریت خانه روی گوشی!</h2>
      </div>
      <div class="feature__mobile__text">
        <p>
          با دانلود اپلیکیشن بانواز می تونی تمامی سنسورها رو، روی گوشیت مشاهده
          و کنترل کنی.
        </p>
      </div>
      <div class="feature__mobile__btn">
        <button class="btn btn--primary__white">دانلود اپلیکیشن</button>
      </div>
    </div>
  </div>