<div class="feature__capability">
    <h2 class="feature__capability__title">
      قابلیت های ویژه بانواز
    </h2>
  <div class="feature__capability__total">
    <div class="feature__capability__cat">
      <div class="feature__capability__img">
        <picture>
          <source
            srcset="/assets/image/mobile/cat.png"
            type="image/png"
            media="(max-width: 768px)"
            class="feature__capability__element__img"
          />
          <source
            srcset="/assets/image/mobile/cat.png"
            type="image/webp"
            media="(max-width: 768px) "
            class="feature__capability__element__img"
          />
          <source
            srcset="/assets/image/cat.png"
            type="image/png"
            media="(min-width: 768px) "
            class="feature__capability__element__img"
          />
          <source
            srcset="/assets/image/cat.png"
            type="image/webp"
            media="(min-width: 768px) "
            class="feature__capability__element__img"
          />
          <img
          src="/assets/image/cat.png"
          alt="banavaz_cat"
          class="feature__capability__element__img"
        />
        </picture>
        
      </div>
      <div>
        <p class="feature__capability__element__text">
          سنسورهایی که برای حیوانات خانگی شما وصل میشن میتونن با هوش مصنوعی
          گرسنه بودن اون رو تشخیص بدن!
        </p>
      </div>
    </div>
    <div class="feature__capability__plant">
      <div class="feature__capability__img">
        <picture>
          <source
            srcset="/assets/image/mobile/Plant.png"
            type="image/png"
            media="(max-width: 768px)"
            class="feature__capability__element__img"
          />
          <source
            srcset="/assets/image/mobile/Plant.png"
            type="image/webp"
            media="(max-width: 768px) "
            class="feature__capability__element__img"
          />
          <source
            srcset="/assets/image/plant.png"
            type="image/png"
            media="(min-width: 768px) "
            class="feature__capability__element__img"
          />
          <source
            srcset="/assets/image/plant.png"
            type="image/webp"
            media="(min-width: 768px) "
            class="feature__capability__element__img"
          />
          <img
          src="/assets/image/plant.png"
          alt="banavaz_cat"
          class="feature__capability__element__img"
        />
        </picture>
        
      </div>
      <div>
        <p class="feature__capability__element__text">
        با محاسبه حرارت اطراف خاک گیاهان میشه فهمید کی باید دوباره به گیاهان اب بدی!
        </p>
      </div>
    </div>
    <div class="feature__capability__laptop">
      <div class="feature__capability__img">
        <picture>
          <source
            srcset="/assets/image/mobile/laptop.png"
            type="image/png"
            media="(max-width: 768px)"
            class="feature__capability__element__img"
          />
          <source
            srcset="/assets/image/mobile/laptop.png"
            type="image/webp"
            media="(max-width: 768px) "
            class="feature__capability__element__img"
          />
          <source
            srcset="/assets/image/laptop.png"
            type="image/png"
            media="(min-width: 768px) "
            class="feature__capability__element__img"
          />
          <source
            srcset="/assets/image/laptop.png"
            type="image/webp"
            media="(min-width: 768px) "
            class="feature__capability__element__img"
          />
          <img
          src="/assets/image/laptop.png"
          alt="banavaz_cat"
          class="feature__capability__element__img"
        />
        </picture>
        
      </div>
      <div>
        <p class="feature__capability__element__text">
      میتونی مدت زمان روشن بودن دستگاه های الکتریکی رو کنترل کنی. یا حتی برای روشن بودن اونها از بانواز کمک بگیری.
        </p>
      </div>
    </div>
    <div class="feature__capability__door">
      <div class="feature__capability__img">
        <picture>
          <source
            srcset="/assets/image/mobile/door.png"
            type="image/png"
            media="(max-width: 768px)"
            class="feature__capability__element__img"
          />
          <source
            srcset="/assets/image/mobile/door.png"
            type="image/webp"
            media="(max-width: 768px) "
            class="feature__capability__element__img"
          />
          <source
            srcset="/assets/image/door1.png"
            type="image/png"
            media="(min-width: 768px) "
            class="feature__capability__element__img"
          />
          <source
            srcset="/assets/image/door1.png"
            type="image/webp"
            media="(min-width: 768px) "
            class="feature__capability__element__img"
          />
          <img
          src="/assets/image/door1.png"
          alt="banavaz_cat"
          class="feature__capability__element__img"
        />
        </picture>
        
      </div>
      <div>
        <p class="feature__capability__element__text">
       باز و بسته بودن درب ها و پنجره ها، تشخیص حضور انسان و کلی قابلیت دیگه در سنسورهای بانواز!
        </p>
      </div>
    </div>
         
  </div>
  </div>