<div class="feature__hub">
    <div class="feature__img__hub">
      
      <picture>
           <source
             srcset="/assets/image/mobile/hub.webp"
             type="image/webp"
             media="(max-width: 1024px)"
             class="feature__hub"
           />
           <source
             srcset="/assets/image/hub.webp"
             type="image/webp"
             media="(min-width: 1024px)"
             class="feature__hub"
           />
           <source
             srcset="/assets/image/hub.png"
             type="image/png"
             media="(min-width: 1024px)"
             class="feature__hub"
           />
           <source
             srcset="/assets/image/mobile/hub.png"
             type="image/png"
             media="(max-width: 1024px)"
             class="feature__hub"
           />
 
           <img src="/assets/image/hub.png" alt="photo" class="feature__hub" />
         </picture>
       </div>
    <div class="feature__title_hub">
      <h1 class="feature__title__hubh1">مدیریت با دستگاه مرکزی</h1>
    </div>
    <div class="feature__text__hub">
      <p class="feature__text__hubtext">بانواز برای مدیریت و کنترل سنسورهای خودش از یک دستگاه مرکزی استفاده میکنه که همه چیز تحت کنترل همین دستگاه مرکزیه.
        دستگاه به کمک اینترنت به گوشی شا متصل میشه و شما میتونین همه چیز رو تحت کنترل خودتون بگیرین.</p>
    </div>
   
  </div>