<div class="footer">
    <div class="footer__group">
      <!--part 1-->
      <div class="footer__part1">
        <h2 class="footer__title">بانواز</h2>
        <div class="footer__list">
          <ul class="footer__list__part">
            <li class="footer__list__section">خانه</li>
            <li class="footer__list__section">فروشگاه</li>
            <li class="footer__list__section">ورود به داشبورد</li>
          </ul>
        </div>
      </div>
      <!--part2-->
      <div class="footer__part1">
        <h2 class="footer__title">فروشگاه</h2>
        <div class="footer__list">
          <ul class="footer__list__part">
            <li class="footer__list__section">دستگاه مرکزی</li>
            <li class="footer__list__section">سنسور داخلی</li>
            <li class="footer__list__section">سنسور خارجی</li>
          </ul>
        </div>
      </div>
      <!--part3-->
      <div class="footer__part1">
        <h2 class="footer__title">بانواز</h2>
        <div class="footer__list">
          <ul class="footer__list__part">
            <li class="footer__list__section">درباره بانواز</li>
            <li class="footer__list__section">وبلاگ</li>
            <li class="footer__list__section">موقعیت های شغلی</li>
            <li class="footer__list__section">تماس با ما</li>
          </ul>
        </div>
      </div>
      <!--part4-->
      <div class="footer__part1">
        <h2 class="footer__title">دانلود اپلیکیشن</h2>
        <div class="footer__btn"><img src="/assets/image/Badges.png"</div>
      </div>
    </div>
  </div>
  
    <div class="footer__socialnet">
      <div class="icons">
        <svg class="icon">
          <use
            xlink:href="/assets/image/sprite.svg#square-google-plus-brands"
          ></use></svg
        ><svg class="icon">
          <use
            xlink:href="/assets/image/sprite.svg#square-twitter-brands"
          ></use></svg
        ><svg class="icon">
          <use
            xlink:href="/assets/image/sprite.svg#youtube-brands"
          ></use></svg
        ><svg class="icon">
          <use
            xlink:href="/assets/image/sprite.svg#square-instagram-brands"
          ></use></svg
        ><svg class="icon">
          <use
            xlink:href="/assets/image/sprite.svg#square-facebook-brands"
          ></use>
        </svg>
      </div>
      <div class="footer__security">
        <p class="footer__security__text">تمامی حقوق متعلق به بانواز می باشد.</p>
      </div>
    </div>
  
  </div>