<header class="main-header">
    <nav class="nav">
      <a href="#" class="">
        <picture>
          <source
            srcset="/assets/image/mobile/Logo.png"
            type="image/png"
            media="(max-width:768px)"
            class="navbar__logo"
          />
          <source
            srcset="/assets/image/mobile/Logo.webp"
            type="image/webp"
            media="(max-width:768px) "
            class="navbar__logo"
          />
          <source
            srcset="/assets/image/Logo.png"
            type="image/png"
            media="(min-width:1024px) "
            class="navbar__logo"
          />
          <source
            srcset="/assets/image/Logo.webp"
            type="image/webp"
            media="(min-width:1024px) "
            class="navbar__logo"
          />
          <img
            src="/assets/image/mobile/Logo.png"
            alt="banavaz-home"
            class="navbar__logo"
          />
        </picture>
      </a>
      <div class="nav__buttons">
        <button class="btn btn--primary__color">ورود به داشبورد</button>
        <button class="btn btn--primary__white">دانلود اپلیکیشن</button>

        <div class="nav__toggler">
          <div class="bar bar-one"></div>
          <div class="bar bar-two"></div>
          <div class="bar bar-three"></div>
        </div>
      </div>

      <ul class="list nav__list">
        <li class="nav__item">
          <a href="#">خانه</a>
        </li>
        <li class="nav__item"><a href="#">فروشگاه</a></li>
        <li class="nav__item">
          <a href="#">درباره ما</a>
        </li>
      </ul>
    </nav>
  </header>
  <script src="/js/main.js"></script>