 <sectin class="services">
      <a href="" class="services__icon">
          <img src="/assets/image/door.png" class="services__img">
          <p class="services__title">درب و پنجره</p>
      </a>
      <a href="" class="services__icon">
          <img src="/assets/image/vegtable.png" class="services__img">
          <p class="services__title"> گل و گیاه</p>
      </a>
      <a href="" class="services__icon">
          <img src="/assets/image/electronic.png" class="services__img">
          <p class="services__title">وسایل برقی</p>
      </a>
      <a href="" class="services__icon">
          <img src="/assets/image/light.png" class="services__img">
          <p class="services__title">روشنایی</p>
      </a>
      <a href="" class="services__icon">
          <img src="/assets/image/warm.png" class="services__img">
          <p class="services__title">گرمایشی</p>
      </a>
      <a href="" class="services__icon">
          <img src="/assets/image/bone.png" class="services__img">
          <p class="services__title">حیوانات</p>
      </a>
  </sectin>